<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.kiligz.kzp.user.mapper.UserMapper">
    <select id="selectIdAndPasswordByUsernameOrEmail" resultType="com.kiligz.kzp.entity.user.User">
        SELECT id, password
        FROM user.user
        <where>
            <if test="account != null and account != ''">
                username = #{account, jdbcType=VARCHAR}
                OR
                email = #{account, jdbcType=VARCHAR}
            </if>
        </where>
    </select>

    <select id="selectRoleIdById" resultType="integer">
        SELECT role_id
        FROM user.user
        <where>
            <if test="id != null">
                id = #{id,jdbcType=NUMERIC}
            </if>
        </where>
    </select>
</mapper>